language: ruby

script:
  - gem install jekyll bundler
  - bundle install
  - bundle exec jekyll build

branches:
  only:
    - master

deploy:
  provider: pages
  skip-cleanup: true
  github-token: $GITHUB_TOKEN
  local-dir: ./_site
  on:
    branch: master

sudo: false # route your build to the container-based infrastructure for a faster build

cache: bundler # caching bundler gem packages will speed up build
